version: '3.7'

services:
  redis:
    container_name: redis
    image: redis:alpine
    volumes:
      - 'redis:/data/db'
  flask:
    container_name: flask
    build: ./server
    volumes:
      - ./server:/app
    ports:
      - 5000:5000
    links:
      - redis
    depends_on:
      - redis
  frontend:
    container_name: frontend
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - 8080:8080
    links:
      - flask
    depends_on:
      - flask
    # restart: unless-stopped
volumes:
  redis:
