.container {
  width: 80%;
  margin: 15px auto;
}

td.highlight {
    background-color: #e0e0e0 !important;
}

td {
  white-space: nowrap;
}

.dt_highlight {
    background-color: #def5de !important;
}

.apg {
    background-image: url("apg_love.png");
    background-repeat: repeat;
    background-size: 15%;
}

.invis {
    display:none
}

.vis {
    display:block
}